
<div class="row block_content">
    <div class="twelve columns">
        <div class="block_content">
            <section class="tabs">
                <ul class="tab-nav">
                    <li class="active"><a href="#" class="title_content" style="color: #73eda4!important;">Truyện mới</a></li>
                </ul>

                <div class="tab-content row active" >
                    <div class="no_margin_left six columns inline small_content" data-ng-repeat="story in stories">
                        <a title="{{story.name}}"
                           href="#/view/{{getLink(story.name)}}"
                           class="link_new inline four columns">
                            <img ng-if="story.image == 'Đang cập nhật..'" src="../image/avatar.png"
                                 alt="{{story.name}}" title="{{story.name}}">
                            <img ng-if="story.image != 'Đang cập nhật..'" src="{{story.image}}"
                                 alt="{{story.name}}" title="{{story.name}}">
                        </a>

                        <div class="eight columns inline content_new">
                            <a title="{{story.name}}"
                               href="#/view/{{getLink(story.name)}}" class="name_manga">{{story.name}}</a>

                            <p><strong>Tác giả: </strong>{{story.author}}</p>

                            <p><strong>Nguồn: </strong>{{story.source}}</p>

                            <p ng-hide="story.type == 'Đang cập nhật..'" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"><strong>Type: </strong><a  ng-if="story.type.length > 0" data-ng-repeat="type in story.type">{{type}},</a></p>
                            <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                               ng-if="story.type == 'Đang cập nhật..'"><strong>Type: </strong>Đang cập nhật..</p>
                            <!--<div >-->
                              <!---->
                            <!--</div>-->
                            <!--<div ng-if="story.type == 'Đang cập nhật..'">-->
                                <!---->
                            <!--</div>-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
                <loading style="text-align: center"></loading>
                <div style="text-align: center"><button ng-click="addMore()" class="myButton" ng-show="stories.length >0" >Load More</button></div>
            </section>
        </div>
    </div>
</div>

</div>
</section>
</div>
</div>
</div>





<!--</body>-->
<!--</html>-->