<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
	<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
	<!--<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">-->
	<!--<title>Manga Book</title>-->
	<!--<link type="text/css" rel="stylesheet" href="css.css">-->
<!--</head>-->
<!--<body>-->
<div id="wrapper">
	<div id="menujohanes">
		
		<ul>
			<li><a href="#" title="Home" class="title">Manga Book</a></li>
			<li><a href="#/vn/1">Vietnamese</a></li>
			<li><a href="#/en/1">English</a></li>
			<li><a href="#/jp/1">Japanese Raw</a></li>
			<li><a href="#">About Us</a></li>
			<li>
			<div class="search-form">
				<form action="#">
					<input class="text-input" name="b" type="text">
					<button class="submit-button" type="submit"><i class="icon-search"></i></button>
				</form>
			</div>	
			</li>		
		</ul>
	</div>
	<div id="casing">
		
		<div id="related-wrap">
			<div class="sidebar section" id="rela1">
				<div class="widget HTML" id="HTML2">
					<h2 class="title">Lastest Update</h2>
					<div class="widget-content" data-ng-repeat="story in stories">
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="view.html">
                                <div ng-if="story.image == 'Đang cập nhật..'">
								<img class="label_thumb" src=../image/avatar.jpg>
                                </div>
                                <div ng-if="story.image != 'Đang cập nhật..'">
                                <img class="label_thumb" src="{{story.image}}">
                                </div>
								</a>
								<a href="#/view/{{getLink(story.name)}}" target="_top">{{story.name}}</a>
							<br> Tác giả: <span id="author">{{story.author}}</span>
							<br><div ng-if="story.type.length > 0"> Thể loại: <span id="genre" data-ng-repeat="type in story.type">{{type}},</span></div>
                                <div ng-if="story.type == 'Đang cập nhật..'"> Thể loại: <span id="genre">Đang cập nhật..</span></div>
							<br> Chap mới nhất: <span id="newchap">{{story.newest_chap}}</span>
							<br> <span id="description" class="line-clamp">{{story.description}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- Wrapper -->
<footer id="footer">
    
    <div class="copyright">
        <p>- Copyright © 2015 Manga Book - Design By Group 3 -</p>
    </div>
    <div class="clear"></div>
</footer>

<!--</body>-->
<!--</html>-->>