<!DOCTYPE html>
<html ng-app="story">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript" language="javascript"></script>
    <script src="../js/jquery.xml2json.js" type="text/javascript" language="javascript"></script>
    <script src=../js/app.js></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <title>Manga Book</title>
    <link type="text/css" rel="stylesheet" href="../css/css.css">
    <link type="text/css" rel="stylesheet" href="../css/indexpage.css">
</head>

<body>
<div id="menujohanes">
    <div style="top: 0px;" class="navbar" id="menu">
        <div class="row" style="padding-top: 10px;">
            <h1 class="three columns logo" id="logo">
                <a href="http://otakufc.com/" style="color: #d04526!important;font-size: 29px;">
                    <img src="../image/logo.png" style="width: 68px;vertical-align: middle;">
                    RoboManga
                </a>
            </h1>
            <ul>
                <li><a href="#" title="Home" class="title">Manga Book</a></li>
                <li><a href="#/vn/0">Vietnamese</a></li>
                <li><a href="#/en/0">English</a></li>
                <li><a href="#/jp/0">Japanese Raw</a></li>
                <li><a href="#">About Us</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="row block_content" id="block_search" ng-controller="SearchController">
    <li class="append field eight columns" style="width: 64.95745%;">
        <input class="xwide text input" id="search_input" type="text" placeholder="Nhập tên manga hoặc tên tác giả"
               ng-model="searchText" ng-change="search()">
        <span class="adjoined"><i class="icon-search" id="bt_seacrch"
                                  style="margin-top: -1px;color: #f4b350;"></i></span>

    </li>
    <ul id="result" class="narrow text input" ng-show="searchResult.length">
        <p ng-repeat="result in searchResult"><a href="#">{{result.name}}</a></p>
    </ul>
    <span class="text-center four columns" style="line-height: 34px;width: 32.91489%;">
				<span class="upper">Thế giới truyện tranh </span>
				<span class="big_text hi_light"> RoboManga</span>
			</span>
</div>


<div ng-view></div>


<!--homepage.html-->
<!--<div class="row block_content">-->
<!--<div class="twelve columns">-->
<!--<div class="block_content">-->
<!--<section class="tabs">-->
<!--<ul class="tab-nav">-->
<!--<li class="active"><a href="#" class="title_content" style="color: #73eda4;">Truyện mới</a></li>-->
<!--</ul>-->

<!--<div class="tab-content row active">-->
<!--<div class="no_margin_left six columns inline small_content">-->
<!--<a title="Dare Mo Shiranai Tou No Aru Machi" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" class="link_new inline four columns">-->
<!--<img src="http://otakufc.com/upload/manga/89372f3d9321ae09c94488592084da29/Dare-Mo-Shiranai-Tou-No-Aru-Machi.jpg" alt="Dare Mo Shiranai Tou No Aru Machi" title="Dare Mo Shiranai Tou No Aru Machi">-->
<!--</a>-->
<!--<div class="eight columns inline content_new">-->
<!--<a title="Dare Mo Shiranai Tou No Aru Machi" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" class="name_manga">Dare Mo Shiranai Tou No Aru Machi</a>-->
<!--<p><strong>Tác giả: </strong> Akahori Satoru, Tsuneyoshi</p>-->
<!--<p><strong>Nhóm dịch: </strong>takarateam</p>-->
<!--<p><strong>Số lượt xem: </strong>107</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="no_margin_left six columns inline small_content">-->
<!--<a title="Thảo dược cho tình yêu" href="http://otakufc.com/manga/Thao-duoc-cho-tinh-yeu" class="link_new inline four columns">-->
<!--<img src="http://otakufc.com/upload/manga/89372f3d9321ae09c94488592084da29/Thao-duoc-cho-tinh-yeu.jpg" alt="Thảo dược cho tình yêu" title="Thảo dược cho tình yêu">-->
<!--</a>-->
<!--<div class="eight columns inline content_new">-->
<!--<a title="Thảo dược cho tình yêu" href="http://otakufc.com/manga/Thao-duoc-cho-tinh-yeu" class="name_manga">Thảo dược cho tình yêu</a>-->
<!--<p><strong>Tác giả: </strong> Washio Mie</p>-->
<!--<p><strong>Nhóm dịch: </strong>TuThienBao</p>-->
<!--<p><strong>Số lượt xem: </strong>147</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="no_margin_left six columns inline small_content">-->
<!--<a title="Soredemo, Yasashii Koi Wo Suru" href="http://otakufc.com/manga/Soredemo--Yasashii-Koi-Wo-Suru" class="link_new inline four columns">-->
<!--<img src="http://otakufc.com/upload/manga/89372f3d9321ae09c94488592084da29/Soredemo--Yasashii-Koi-Wo-Suru.jpg" alt="Soredemo, Yasashii Koi Wo Suru" title="Soredemo, Yasashii Koi Wo Suru">-->
<!--</a>-->
<!--<div class="eight columns inline content_new">-->
<!--<a title="Soredemo, Yasashii Koi Wo Suru" href="http://otakufc.com/manga/Soredemo--Yasashii-Koi-Wo-Suru" class="name_manga">Soredemo, Yasashii Koi Wo Suru</a>-->
<!--<p><strong>Tác giả: </strong> Yoneda Kou</p>-->
<!--<p><strong>Nhóm dịch: </strong>Wang Wang</p>-->
<!--<p><strong>Số lượt xem: </strong>135</p>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</section>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--detail.html-->


<!--<div class="row">-->
<!--<div class="block_content four columns" id="image_info_manga">-->
<!--<p class="text-center"><img-->
<!--src="http://otakufc.com/upload/manga/89372f3d9321ae09c94488592084da29/Dare-Mo-Shiranai-Tou-No-Aru-Machi.jpg"-->
<!--alt="Dare Mo Shiranai Tou No Aru Machi"></p>-->


<!--</div>-->
<!--<div class="block_content eight columns" id="info_manga" style="position: relative;margin-bottom: 90px;">-->
<!--<p class="name_manga">Dare Mo Shiranai Tou No Aru Machi</p>-->

<!--<p><strong>Tên khác:</strong> The Tower of Mysterion; The Town with the Tower that Nobody Knows</p>-->

<!--<p><strong>Thể loại:</strong> Mystery, Shounen, Slice of Life</p>-->

<!--<p><strong>Tác giả:</strong> Akahori Satoru, Tsuneyoshi</p>-->

<!--<p><strong>Nhóm dịch:</strong> takarateam</p>-->

<!--<p><strong>Tình trạng:</strong> Đang tiến hành</p>-->

<!--<p><strong>Sơ lược:</strong><br>Tình bạn, tình yêu, và cái chết... </p>-->

<!--<div class="google_ads" id="ad_chap_intro" style="position: absolute; bottom: -100px; left: 0;">-->
<!--<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<!-- otakufc_chap_intro -->
<!--<ins class="adsbygoogle" style="display:inline-block;width:646px;height:90px"-->
<!--data-ad-client="ca-pub-3062655304532754" data-ad-slot="4443715827"></ins>-->
<!--<script>-->
<!--(adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->


<!--<div class="block_content four columns" id="fb_manga">-->
<!--<span class="title_content">Like &amp; Share</span>-->

<!--<div class="row">-->
<!--<p class="text-center" style="padding: 10px;">-->
<!--<fb:like xid="" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" layout="button_count"-->
<!--action="like" show_faces="false" share="true" class=" fb_iframe_widget"-->
<!--fb-xfbml-state="rendered"-->
<!--fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fotakufc.com%2Fmanga%2FDare-Mo-Shiranai-Tou-No-Aru-Machi&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false">-->
<!--<span style="vertical-align: bottom; width: 138px; height: 20px;"><iframe name="f36079243c"-->
<!--width="1000px"-->
<!--height="1000px"-->
<!--frameborder="0"-->
<!--allowtransparency="true"-->
<!--scrolling="no"-->
<!--title="fb:like Facebook Social Plugin"-->
<!--src="http://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FDU1Ia251o0y.js%3Fversion%3D41%23cb%3Df2f50c667c%26domain%3Dotakufc.com%26origin%3Dhttp%253A%252F%252Fotakufc.com%252Ff1343b6f54%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fotakufc.com%2Fmanga%2FDare-Mo-Shiranai-Tou-No-Aru-Machi&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false"-->
<!--style="border: none; visibility: visible; width: 138px; height: 20px;"-->
<!--class=""-->
<!--__idm_frm__="23"></iframe></span>-->
<!--</fb:like>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="block_content eight columns" id="list_chap">-->
<!--<span class="title_content">Danh sách chap</span>-->
<!--<table class="striped sortable">-->
<!--<thead>-->
<!--<tr>-->
<!--<th style="width:45%">Tên chap</th>-->
<!--<th style="width:20%">Ngày đăng</th>-->
<!--<th style="width:15%">Download</th>-->
<!--<th style="width:20%">Lượt xem</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><a href="Dare-Mo-Shiranai-Tou-No-Aru-Machi/Chap-1">Chap 1</a></td>-->
<!--<td>2015-02-10</td>-->
<!--<td>---</td>-->
<!--<td>238</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--</div>-->


<!--view.html-->


<!--<div class="row">-->
<!--<p class="text-center" style="padding: 10px;">-->
<!--<a style="font-size:2rem;" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" class="name_manga">Dare Mo Shiranai Tou No Aru Machi</a>-->
<!--</p>-->
<!--<p class="text-center">-->
<!--<label for="select_chap" class="inline control_chap">Chapter</label>-->
<!--<span class="picker inline">-->
<!--<select id="select_chap">-->
<!--<option value="Chap-1" selected="">Chap 1</option>        </select>-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<!--<div class=" text-center" id="div_image" style="display: block;">-->

<!--<p data-c="57"><img class="load" alt="Chap 1" src="http://3.bp.blogspot.com/-DPVJstG75jo/VNjXMC5w7_I/AAAAAAACM_Q/GNeLWyp7tw8/bt5007-056.jpg?imgmax=3000" style="border: 5px solid rgb(0, 0, 0);"></p><p data-c="58"><img class="load" alt="Chap 1" src="http://4.bp.blogspot.com/-P4AysVyDkkE/VNjXNh03kEI/AAAAAAACM_Y/VNrLMZnyOOU/bt5013-057.jpg?imgmax=3000" style="border: 5px solid rgb(0, 0, 0);"></p><p data-c="59"><img class="load" alt="Chap 1" src="http://2.bp.blogspot.com/-OLfnuLBn_kE/VNjXOotZTyI/AAAAAAACM_g/NXJzOhirK7s/bt5018-058.jpg?imgmax=3000" style="border: 5px solid rgb(0, 0, 0);"></p>-->

<!--</div>-->

<!--<div class="row">-->

<!--<p class="text-center">-->
<!--<label for="select_chap" class="inline control_chap">Chapter</label>-->
<!--<span class="picker inline">-->
<!--<select id="select_chap">-->
<!--<option value="Chap-1" selected="">Chap 1</option>        </select>-->
<!--</span>-->
<!--</p>-->
<!--<p class="text-center" style="padding: 10px;">-->
<!--<a style="font-size:2rem;" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" class="name_manga">Dare Mo Shiranai Tou No Aru Machi</a>-->
<!--</p>-->
<!--</div>-->


<div class="row block_content">
    <span class="title_content"><i class="icon-info-circled"></i>Thông tin website</span>

    <p><strong>Chủ sở hữu: </strong><span class="hi_light">RoboManga</span></p>

    <p><strong>Email: </strong><span class="hi_light">RoboManga@gmail.com</span></p>

    <p><strong>Fanpage: </strong><a href="https://www.facebook.com/pages/Otaku-Fan-Club/735962693161234?fref=ts"
                                    style="color: #f4b350;">QKH Team</a></p>

    <p><strong>Phát triển bởi: </strong><a href="https://www.facebook.com/pages/Otaku-Fan-Club/735962693161234?fref=ts"
                                           style="color: #f4b350;">KhangTN</a></p>

    <p><span class="hi_light"> Copyright © 2015 Manga Book - Design By QKH team -</span></p>
</div>

</body>
</html>

