<!--<style type="text/css">-->
<!--#content {-->
<!--width: 100%;-->
<!--border: 1px solid #DDD;-->
<!--margin-top: 5px;-->
<!--}-->

<!--.title h2 {-->
<!--background: #0085DC;-->
<!--padding: 9px 10px;-->
<!--margin: 0 -1px;-->
<!--font-size: 14px;-->
<!--white-space: nowrap;-->
<!--overflow: hidden;-->
<!--text-overflow: ellipsis;-->
<!--}-->

<!--.title h2 a {-->
<!--color: #FFF;-->
<!--}-->

<!--.pagepost {-->
<!--padding: 10px;-->
<!--line-height: 24px;-->
<!--padding-bottom: 0;-->
<!--}-->

<!--.cover img {-->
<!--max-width: 650px;-->
<!--display: block;-->
<!--margin: 10px auto;-->
<!--}-->

<!--.down_area {-->
<!--margin: 10px;-->
<!--}-->

<!--.down_title {-->
<!--background: #147CE3;-->
<!--color: #fff;-->
<!--font-weight: 700;-->
<!--padding: 8px 10px;-->
<!--}-->

<!--.down_box {-->
<!--clear: both;-->
<!--}-->

<!--.down_item {-->
<!--max-height: 350px;-->
<!--overflow-y: scroll;-->
<!--}-->

<!--.down_item li {-->
<!--margin: 10px;-->
<!--margin-right: 0;-->
<!--padding-right: 10px;-->
<!--}-->

<!--.down_item li:last-child {-->
<!--border-right: 0;-->
<!--}-->

<!--.down_item .title-list-chapter {-->
<!--margin-top: 2px;-->
<!--border-bottom: 1px solid blue;-->
<!--}-->

<!--.span-chapter-name {-->
<!--padding-left: 15px;-->
<!--}-->

<!--.span-chapter-name .a {-->
<!--color: black;-->
<!--}-->

<!--.span-update-date {-->
<!--float: right;-->
<!--width: 30%;-->
<!--}-->

<!--a:link {-->
<!--color: black;-->
<!--}-->

<!--a:visited, a:hover {-->
<!--color: blue;-->
<!--}-->

<!--.info {-->
<!--font-family: Sans-serif;-->
<!--}-->

<!--.info-title {-->
<!--text-decoration: underline;-->
<!--}-->

<!--</style>-->
<!--<div id="wrapper">-->
<!--<div id="menujohanes">-->

<!--<ul>-->
<!--<li><a href="#" title="Home" class="title">Manga Book</a></li>-->
<!--<li><a href="#/vn/0">Vietnamese</a></li>-->
<!--<li><a href="#/en/0">English</a></li>-->
<!--<li><a href="#/jp/0">Japanese Raw</a></li>-->
<!--<li><a href="#">About Us</a></li>-->
<!--<li>-->
<!--<div class="search-form">-->
<!--<form action="#">-->
<!--<input class="text-input" name="b" type="text">-->
<!--<button class="submit-button" type="submit"><i class="icon-search"></i></button>-->
<!--</form>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div id="casing">-->
<!--<div id="content">-->
<!--<div class="main section" id="main">-->
<!--<div class="widget Blog" id="Blog1">-->
<!--<div class="blog-posts">-->

<!--<div class="title">-->
<!--<a name="5197127098284532974"></a>-->

<!--<h2>-->
<!--<a href="./Golden Time 04 Subtitle Indonesia_files/Golden Time 04 Subtitle Indonesia.html"-->
<!--rel="bookmark" title="Permanent Link to Golden Time 04 Subtitle Indonesia">{{story.name}}</a>-->
<!--</h2>-->
<!--</div>-->

<!--<div class="pagepost">-->
<!--<div class="cover">-->
<!--<img src="img.png" alt="description">-->

<!--<div class="info">-->

<!--<br><span class="info-title"> Tác giả</span>: <span-->
<!--id="author">{{story.author}}</span>-->
<!--<br>-->

<!--<div ng-if="story.type.length > 0"><span class="info-title"> Thể loại</span>:<span-->
<!--id="genre" data-ng-repeat="type in story.type">{{type}},</span></div>-->
<!--<div ng-if="story.type == 'Đang cập nhật..'"> Thể loại: <span id="genre">Đang cập nhật..</span>-->
<!--</div>-->
<!--<br><span class="info-title"> Status</span>: <span-->
<!--id="status">{{story.status}}</span>-->
<!--<br><span class="info-title"> Nguồn</span>: <span-->
<!--id="source">{{story.source}}</span>-->
<!--<br> <span id="description" style="font-size: 13px;">{{story.description}}</span>-->
<!--</div>-->
<!--<div class="down_area">-->
<!--<div class="down_box">-->
<!--<h3 class="down_title">{{story.name}}</h3>-->

<!--<div class="title-list-chapter" style="font-weight: 600; color: blue">-->
<!--<span class="span-chapter-name">Chapter Name</span>-->
<!--<span class="span-update-date">Update Date</span>-->
<!--</div>-->
<!--<div class="down_item" ng-if="story.chapters.chapter.length > 0">-->
<!--<div class="list-chapter"-->
<!--data-ng-repeat="chapter in story.chapters.chapter">-->
<!--<span class="span-chapter-name"><a-->
<!--href="#view/{{story.name}}/{{chapter.name}}">{{chapter.name}}</a></span>-->
<!--<span class="span-update-date">20/01/2015</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="down_item" ng-if="story.chapters.chapter.length == NULL">-->
<!--<div class="list-chapter">-->
<!--<span class="span-chapter-name"><a-->
<!--href="#view/{{story.name}}/{{story.chapters.chapter.name}}">{{story.chapters.chapter.name}}</a></span>-->
<!--<span class="span-update-date">20/01/2015</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div style="clear: both;"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--</div>-->
<!--&lt;!&ndash; Wrapper &ndash;&gt;-->
<!--<footer id="footer">-->

<!--<div class="copyright">-->
<!--<p>- Copyright © 2015 Manga Book - Design By Group 3 -</p>-->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--</footer>-->

<loading style="text-align: center"></loading>
<div class="row">
    <div class="block_content four columns" id="image_info_manga">
        <p class="text-center"><img ng-if="story.image == 'Đang cập nhật..'" src="../image/avatar.png"
                                    alt="{{story.name}}" title="{{story.name}}" style="width: 190px;">
            <img
                    ng-if="story.image != 'Đang cập nhật..'" src="{{story.image}}" style="width: 190px"
                    alt="{{story.name}}" title="{{story.name}}"></p>


    </div>
    <div class="block_content eight columns" id="info_manga" style="position: relative;margin-bottom: 90px;">
        <p class="name_manga">{{story.name}}</p>

        <p><strong>Thể loại:</strong> Mystery, Shounen, Slice of Life</p>

        <!--<p><strong>Type: </strong><a  ng-if="story.type.length > 0" data-ng-repeat="type in story.type">{{type}},</a></p>-->

        <p><strong>Tác giả:</strong>{{story.author}}</p>

        <p><strong>Nhóm dịch:</strong>{{story.author}}</p>

        <p><strong>Sơ lược:</strong><br>{{story.description}}</p>

        <div class="google_ads" id="ad_chap_intro" style="position: absolute; bottom: -100px; left: 0;">
            <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- otakufc_chap_intro -->
            <ins class="adsbygoogle" style="display:inline-block;width:646px;height:90px"
                 data-ad-client="ca-pub-3062655304532754" data-ad-slot="4443715827"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="row">


    <div class="block_content four columns" id="fb_manga">
        <span class="title_content">Like &amp; Share</span>

        <div class="row">
            <p class="text-center" style="padding: 10px;">
                <fb:like xid="" href="http://otakufc.com/manga/Dare-Mo-Shiranai-Tou-No-Aru-Machi" layout="button_count"
                         action="like" show_faces="false" share="true" class=" fb_iframe_widget"
                         fb-xfbml-state="rendered"
                         fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fotakufc.com%2Fmanga%2FDare-Mo-Shiranai-Tou-No-Aru-Machi&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false">
<span style="vertical-align: bottom; width: 138px; height: 20px;"><iframe name="f36079243c"
                                                                          width="1000px"
                                                                          height="1000px"
                                                                          frameborder="0"
                                                                          allowtransparency="true"
                                                                          scrolling="no"
                                                                          title="fb:like Facebook Social Plugin"
                                                                          src="http://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FDU1Ia251o0y.js%3Fversion%3D41%23cb%3Df2f50c667c%26domain%3Dotakufc.com%26origin%3Dhttp%253A%252F%252Fotakufc.com%252Ff1343b6f54%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fotakufc.com%2Fmanga%2FDare-Mo-Shiranai-Tou-No-Aru-Machi&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false"
                                                                          style="border: none; visibility: visible; width: 138px; height: 20px;"
                                                                          class=""
                                                                          __idm_frm__="23"></iframe></span>
                </fb:like>
            </p>
        </div>
    </div>
    <div class="block_content eight columns" id="list_chap">
        <span class="title_content">Danh sách chap</span>
        <table class="striped sortable">
            <thead>
            <tr>
                <th style="width:45%">Tên chap</th>
                <th style="width:15%">Download</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="story.chapters.chapter.length > 0" data-ng-repeat="chapter in story.chapters.chapter">
                <td><a href="#view/{{story.name}}/{{chapter.name}}">{{chapter.name}}</a></td>
                <td><a href="#view/{{story.name}}/{{chapter.chapter.name}}">PDF<i class="icon-large icon-download-alt"></i></a></td>
            </tr>
            <tr ng-if="story.chapters.chapter.length == NULL" >
                <td><a href="#view/{{story.name}}/{{story.chapters.chapter.name}}">{{story.chapters.chapter.name}}</a></td>
                <td><a href="#view/{{story.name}}/{{story.chapters.chapter.name}}">PDF</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
