.about-list-area{
    display: block;
    background: #ffffff;

}
.about-header-text{
    padding: 10px 0px;
    color: rgb(161, 161, 161);
    font-size: 20px;
    min-height: 24px;
    line-height: 24px;
    margin: 0px 20px;
}
.about-item-text{
    font-weight: 500;
    font-size: 18px;
    color: rgb(95, 78, 78);
    text-align: left;
    margin: 0px 20px;
    background: white;
    padding: 10px;
    height: 20px;
    border-bottom: solid 1px rgb(248, 248, 248);
}
.about-item-left{
    color:inherit;
    float: left;
}
.about-item-right{
    color: rgb(186, 186, 186);
    float: right;
    font-size: 16px;
    line-height: 25px;
}