<ons-page>
    <div class="brg navigation-bar">
        <div class="navigation-bar__left"></div>
        <div class="navigation-bar__center text-ellipsis" style="font-weight: 700;">ABOUT</div>
        <div class="navigation-bar__right"></div>
    </div>
    <div style="width: 100%;height: 100%;background: #eee">
        <div class="about-header-text">Information</div>
        <div class="about-item-text">
             <div class="about-item-left">App Name:</div>
             <div class="about-item-right">Manga Book</div>
        </div>
        <div class="about-item-text">
            <div class="about-item-left">App version:</div>
            <div class="about-item-right">0.0.1</div>
        </div>
        <div class="about-header-text">Contact Us</div>
        <div class="about-item-text">
            <div class="about-item-left">Add:</div>
            <div class="about-item-right">69 ABC Street- Ho Chi Minh City</div>
        </div>
        <div class="about-item-text">
            <div class="about-item-left">Phone:</div>
            <div class="about-item-right">01653319358</div>
        </div>
        <div class="about-item-text">
            <div class="about-item-left">Email:</div>
            <div class="about-item-right">Khangtnse60992@fpt.edu.vn</div>
        </div>

    </div>


</ons-page>
