.item-area-float{
    display: block;
    float: left;
    margin: 2%;
    width: 46%;
    padding: 0;
    background: #ffffff;
}
.item-image-float{
    width: 100%;
    height: 190px;
}
.item-title-float{
    font-size: 15px;
    font-weight: 500;
    color: darkorange;
    text-align: center;
    width: 100%;
    height: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#errorText{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 60% 0px;
    color: rgb(161, 161, 161);
}