body#layout #infotop {
    display: none;
}
body#layout .header-wrap {
    display: block;
    height: auto !important;
    width: 100%;
    position: relative;
    top: 65px;
}
body#layout #related-wrap {
    clear: both;
    float: left;
    width: 700px;
}
body#layout #related-wrap .sidebar {
    float: left;
    width: 50%;
}
.clear{display:block;clear:both;}.status-msg-bg{display:none;}.quickedit{display:none;}#navbar-iframe {height:0px;visibility:hidden;display:none}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:none;font-size:100%;font:inherit;vertical-align:baseline}
nav,nav ul,nav ol,nav li,ul,li,ol{margin:0;padding:0;list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:&quot;&quot;;content:none}
blockquote{padding:0 0 0 20px;margin:0 10px;border-left:4px solid #eee}
*{transition:all .4s ease;-webkit-transition:al .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}#Navbar1, #Attribution1 {display:none;}
/* css widget edited */
.popular-posts ul,.popular-posts li{margin:0;padding:0;list-style:none}
.popular-posts li{margin-bottom:.6em}
.popular-posts .item-thumbnail {
    width: 72px;
    height: 72px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 4px 10px 0 0;
}
.popular-posts .item-thumbnail img{float:none;display:block;margin:0 0;padding:0 0;border:none}
.popular-posts .item-snippet {
    font-size: 90%;
}
.popular-posts .item-title {
    font-weight: bold;
    font-size: 13px;
}
.label-size {padding: 3px 5px;background: #616A89;margin: 2px;display: inline-block;}
.label-size a {color: #FFF;}
.label-count {color: #E4E4E4;}
.profile-name-link.g-profile{background:no-repeat;padding-left:20px;}
.profile-img{margin:5px;float:left;}
.sidebar h2 {
    font-size: 15px;
    background: #0085DC;
    padding: 8px 10px;
    color: #fff;
    margin: -1px;
}
.sidebar .widget-content {
    padding: 8px;
}
.sidebar .widget {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.sidebar ul{}
.sidebar li{}
.sidebar a{}

body {
    background: #ECF0F1 url(http://izmanga.com/files/images/vuabep.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center -120px;
    margin: 0;
    color: #333;
    font: normal normal 13px/1.5 "Open Sans","Segoe UI",Arial,Sans-Serif;
    font-size: 13px;
}
.poscen{margin:0 auto;width:1000px;}
a:link, a:visited {color:#1E1EEC; text-decoration:none;}
a:hover {color:#214067;}
a img {border-width:0;}
::-webkit-scrollbar{width:7px;height:7px;background:#EEE;}
::-webkit-scrollbar-thumb{background:#999;}
::selection{background:#e5e5e5;color:#333;}
/* header */
#header {
    background:rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    margin: auto;
    height: 65px;
}
.header-wrap {
    float: left;
    max-height: 65px;
}
.header-wrap h1 {
    text-align: center;
    font-family: 'Oswald', 'Roboto';
    font-weight: 700;
    font-size: 25px;
    color: #FFF;
    line-height: 30px;
    margin-top: 7px;
    text-transform:uppercase;
}
.header-wrap .description {
    color: #FFF;
    text-shadow: 0 0 4px #333;
}
.header-wrap a{color:#fff;}.header-wrap a:hover{color:#eee;}
/* Outer Wrapper */
#content {
    float: left;
    width: 1000px;
    position: relative;
}
#sidebar {
    float: right;
    position: relative;
    width: 250px;
    margin: 5px 10px;
    margin-left: 5px;
}
#wrapper {
    width: 100%;
    margin: 20px auto 0;
    background:#fff;
}
#casing {
    width:1000px;
    padding: 10px;
    margin:0 auto;
    overflow: hidden;
}
#infotop {
    height: 300px;
    padding: 15px;
}
/* Menu */
.topmenu {
    float: right;
    max-height: 65px;
}
.topmenu li {
    margin: 12px;
    margin-bottom: 0;
    text-transform: capitalize;
    float: left;
    text-align: center;
}
.topmenu li:hover {
    opacity: 0.7;
}
.topmenu li a {
    color: #FFF;
}
.topmenu i {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}
#menujohanes {
    width: 100%;
    margin: auto;
    background:#0085DC;
    height: 55px;
    z-index: 99;
    text-transform: uppercase;
}
#menujohanes ul {
    list-style-type: none;
    z-index: 9;
    width: 910px;
    margin: auto;
}
#menujohanes ul li {
    float: left;
    position: relative;
    padding: 5px 8px;
}
#menujohanes ul li a {
    color: #FFF;
    padding: 10px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    display: block;
}
#menujohanes ul li:hover {
    background: #0073BE;
}
/* Search */
.search-form {
    float: left;
    line-height: 65px;
    margin-left: 20px;
    position: relative;
}
.text-input {
    outline: 0;
    border: 1px solid #DDD;
    padding: 3px 5px;
    height: 18px;
    width: 350px;
    border-radius: 2px;
}
.submit-button {
    background: #0085DC;
    color: #FFF;
    cursor:pointer;
    font-size: 16px;
    height: 27px;
    border: 0;
    position: absolute;
    right: -3px;
    top: 0px;
    margin-top:19px;
    padding: 3px 7px;
    border-radius: 3px;
}
.submit-button:hover{background:#0073BE;}

.post-container {
    position: relative;
    display: block;
    float: left;
    width: 310px;
    margin: 10px;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}
.post-container:hover .jomorelink {
    opacity: 0.6;
}
.crop-wrap img {
    max-width: 100%;
    height:auto;
}
.posting {display: none;}
.crop-wrap{
    width: 310px;
    height: 180px;
    overflow: hidden;
    margin: auto;
    position: relative;
    background: #fafafa url(http://1.bp.blogspot.com/-_rVBDk7MBgs/UeW2vn3fwWI/AAAAAAAAGzI/ONP2vpF-MdE/s1600/Untitled-1.png) no-repeat center center;
    background-size: 80px;
}
.cover {
    margin: 0 0;
    color: #222;
    position: relative;
}
.flypost {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin: 0 10px;
    width: 290px;
    text-align: right;
}
.flypost a {
    color: #FFF;
}
.hoverpost i {
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 70px;
    width: 20px;
    background: #333;
    padding: 10px;
    padding-left: 13px;
    border-radius: 5px;
}
.hoverpost a {
    z-index: 10;
    color: #fafafa;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 310px;
    height: 180px;
    opacity: 0;
}
.hoverpost a:hover {
    opacity: 1;
}
.hoverpost .icon-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    text-align: center;
    font-size: 35px;
}
/* Post Luar */
.post-title {
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-shadow: 0px 1px 1px #333;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 290px;
    color:#fff;
}
.post-comment {
    margin-top: 2px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-shadow: 0px 1px 1px #333;
    font-size: 12px;
    text-transform: uppercase;
}
/* Blog Pager */
.navipagejohanes {
    margin: 20px auto;
    width: 325px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    background: #0085DC;
    height: 25px;
    clear: both;
    border-radius: 4px;
    padding: 5px;
}
#blog-pager a{color:#fff;}
#blog-pager a:hover{color:#bbb;}
#blog-pager {
    display: none;
    margin: auto;
    width: 325px;
    text-align: center;
    font-size: 11px;
    z-index: 100;
    margin-top: -30px;
}
.navipagejohanes:hover #blog-pager {
    display: block;
}
#pager-prev {
    text-align: center;
    overflow: hidden;
    float: left;
    width: 100px;
    background: #0F6FAD;
    margin: 5px;
    border-radius: 4px;
}
#pager-next {
    text-align: center;
    overflow: hidden;
    float: right;
    width: 100px;
    background: #0F6FAD;
    margin: 5px;
    border-radius: 4px;
}
/* Credit */
.copyright {
    text-align: center;
    margin: auto;
    background:#0073BE;
    padding: 12px 0px;
    color: #FFF;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 10pt;
    letter-spacing: 0.02em;
}
.copyright a{color:#004572}
#footer {
    font-size: 10pt;
    color: #FFF;
    overflow: hidden;
    background: #0085DC;
    border-top:5px solid #0073BE;
    margin: auto;
}
.footer-widget {
    margin: 30px auto 10px;
    width: 965px;
}
.footwidget {
    width: 270px;
    list-style-type: none;
    float: left;
    margin: 15px 25px 5px;
}
.footwidget h2 {
    text-align: center;
    margin: auto;
    padding: 10px 5px;
    background: #0073BE;
    font-weight: normal;
    font-size: 13pt;
    color: #FFF;
    text-transform: uppercase;
}
.footwidget .widget-content {
    overflow: hidden;
    color: #222;
    padding: 20px;
    padding-bottom: 10px;
    background: #FFF;
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 10pt;
    letter-spacing: 0.02em;
    line-height: 20px;
    margin-bottom: 30px;
}
#related-wrap {
    float: left;
    width: 735px;
}
#related-wrap .sidebar {
    width: 355px;
    float: left;
    margin: 5px 6px;
}
#related-wrap .sidebar .widget-content{position:relative;}
.more_topic {
    position: absolute;
    top: -29px;
    right: 5px;
    background: #fff;
    border-radius: 4px;
    padding: 2px 7px;
}
.label_with_thumbs li {
    clear: both;
    margin: 10px 0;
    height: 72px;
    font-size: 12px;
}
.label_with_thumbs li a {
    font-size: 13px;
}
.label_with_thumbs img {
    float: left;
    margin-right: 7px;
	width: 72px;
	height: 72px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    body {background-size:cover;overflow-x:hidden;}
    #menujohanes {height: auto !important;}
    .poscen {margin: 0 auto;width: 95% !important;}
    .topmenu li {margin: 12px 5px;font-size: 9px;}
    #infotop {height: 240px;padding: 15px;}
    #menujohanes {height: 40px;}
    #menujohanes ul {width: 90% !important;}
    #menujohanes ul li {padding: 2px 8px;}
    .text-input {width: 320px;}
    .header-wrap h1 {font-size: 20px;}
    .header-wrap .description {font-size: 11px;}
    #menujohanes ul li a {line-height: 16px;}
    .post-container {width: 355px;margin: 10px;}
    .crop-wrap {width: 355px;}
    #casing {width: 97% !important;padding: 5px;}
    .flypost {width: 335px !important;}
    .post-title {width: 335px !important;}
    .hoverpost a {width: 355px !important;}
    #related-wrap {float: left;width: 365px !important;}
    #sidebar {width: 320px;}
    #related-wrap {float: left;width: 415px;}
    #related-wrap .sidebar {width: 400px;}
    .footer-widget {width: 100% !important;}
    .footwidget {width: 230px;margin: 15px 14px 5px;}
    .footer-widget{margin-top:0;}
    .cover img {max-width: 80% !important;}
}