<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
	<title>Manga Book</title>
	<link type="text/css" rel="stylesheet" href="css.css">
</head>
<body>

<div id="wrapper">
	<div id="menujohanes">
		
		<ul>
			<li><a href="#" title="Home" class="title">Manga Book</a></li>
			<li><a href="#">Vietnamese</a></li>
			<li><a href="#">English</a></li>
			<li><a href="#">Japanese Raw</a></li>
			<li><a href="#">Download</a></li>
			<li><a href="#">About Us</a></li>
			<li>
			<div class="search-form">
				<form action="#">
					<input class="text-input" name="b" type="text">
					<button class="submit-button" type="submit"><i class="icon-search"></i></button>
				</form>
			</div>	
			</li>		
		</ul>
	</div>
	<div id="casing">
		
		<div id="related-wrap">
			<div class="sidebar section" id="rela1">
				<div class="widget HTML" id="HTML2">
					<h2 class="title">Lastest Update</h2>
					<div class="widget-content">
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
							
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						<ul class="label_with_thumbs">
							<li class="clearfix">
								<a href="detail.html">
								<img class="label_thumb" src="http://izmanga.com/files/images/vuabep.jpg">
								</a>
								<a href="detail.html" target="_top">Magi: The Kingdom of Magic Episode 1 Subtitle hehehe</a>
							<br> Tác giả: <span id="author">Trần Vĩnh Quang</span>
							<br> Thể loại: <span id="genre">Action, Drama</span>
							<br> Chap mới nhất: <span id="newchap">Chap 54</span>
							<br> <span id="description" style="font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....Lorem ipsum dolor sit amet, consectetur adipiscing elit....</span>
							</li>
						</ul>
						
					</div>
			 
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	<div class="clear"></div>
</div>
<!-- Wrapper -->
<footer id="footer">
    
    <div class="copyright">
        <p>- Copyright © 2015 Manga Book - Design By Group 3 -</p>
    </div>
    <div class="clear"></div>
</footer>

</body>
</html>